{% extends 'base.html.twig' %}

{% block title %}Írjon üzenetet!{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="jumbotron">
            {{ form_start(form) }}
                <div class="form-group" >
                    {{ form_label(form.writer_name) }}
                    {{ form_widget(form.writer_name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group" >
                    {{ form_label(form.writer_email) }}
                    {{ form_widget(form.writer_email, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div class="form-group" >
                    {{ form_label(form.message_text) }}
                    {{ form_widget(form.message_text, {'attr': {'class': 'form-control'}}) }}
                </div>
                <div>
                    {{ form_widget(form.save, {'attr': {'class': 'btn btn-success'}}) }}
                </div>
            {{ form_end(form) }}
        </div>
        <h1 class="{{ result == 'success' ? 'text-success' : 'text-danger' }}" > {{ text }} </h1>
    </div>
{% endblock %}
